body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navuser {
  position: absolute;
  margin-right: 50px;
  right: 0px;
}

.motto {
  padding-top: 50px;
  text-align: center;
}
/* 
.restaurantNav {
  position: relative;
  left: 15px;
} */
