body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navuser {
  position: absolute;
  margin-right: 50px;
  right: 0px;
}

.motto {
  margin-top: 75px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navcolor {
  background-color: #ff6a7b;
}

.loader {
  margin-top: 90px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid lightgreen; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.restPreviewContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.restaurantPreview {
  max-width: 250px;
  flex-grow: 1;
  margin-right: 30px;
  margin-top: 20px;
}

.restaurantContent {
  min-height: 110px;
}

.searchbar {
  margin-top: 30px;
  background-color: white;
  opacity: 85%;
}

.exit {
  margin-bottom: 0px;
  margin-top: 50px;
}

.orderButtons {
  margin-right: 30px;
  margin-top: 20px;
  flex-grow: 1;
}

.wholepage {
  background: url(./images/testbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.formcont {
  background-color: green;
}
